body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  background-color: #eee;
}

a {
  color: inherit;
}


.http-get    { background-color: #2ECC40; }
.http-head   { background-color: #01FF70; }
.http-post   { background-color: #FFDC00; }
.http-put    { background-color: #FF851B; }
.http-delete { background-color: #FF4136; }
.http-patch  { background-color: #F012BE; }

h1, h2, h3, h4 {
  margin: 0.8em 0;
  margin-bottom: 0.4em;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p
{
  margin-top: 0;
}

h1, h2 {
  margin-top: 0;
}

.route {
  border-top: solid 2px #f1f1f1;
  margin-top: 1.8em;
  padding-top: 1.4em;
}

.route__description {
}

.schema--empty {
  padding: 0.4em 0;
  font-style: italic;
  color: #1d1d1d;
}

.route__url {
  position: relative;
  overflow: hidden;
  border: solid 1px #ddd;
  border-radius: 0.2em;
  display: flex;
}

.route__url__method {
  color: #222;
  display: inline-block;
  padding: 0.4em 0.6em;
  text-transform: uppercase;
}

.route__url__path {
  display: inline-block;
  padding: 0.4em 0.6em;
  flex: 1;
}

.app__body {
  padding: 0.8em;
  padding-bottom: 3.2em;
  background-color: white;
  margin-top: 3px;
  border-top: solid 1px #dadada;
}

.app__footer {
  padding: 1.2em;
  text-align: center;
  color: #555;
  border-top: solid 1px #ddd;
}

.app__footer a {
  text-decoration: none;
}

.app__footer a:hover {
  text-decoration: underline;
}

.toc {
  list-style-type: lower-roman;
  padding-left: 1.6em;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

tr {
  border-top: 1px solid #ccc;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.4em 0.6em;
}

/**
 * Thanks: <https://twitter.com/chriscoyier>
 * <https://css-tricks.com/responsive-data-tables/>
 */
@media only screen and (max-width: 420px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:before {
    content: attr(data-title);
    font-weight: bold;
  }
}
